.container {
    width:100%;
    border:1px solid #d3d3d3;
}
.container div {
    width:100%;
}
.container .header {
    background-color:#d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}
.container .content {
    display: block !important; /* 强制覆盖其他样式 */
    width: 120% !important;
    margin: 0 auto !important;
    padding: 5px !important;
    background-color: #f9f9f9 !important;
}
